In [31]:
import pandas as pd 
import numpy as np

+ 原数据

In [32]:
df1 = pd.DataFrame(np.ones((3,4))*0, columns=['a','b','c','d'])
df2 = pd.DataFrame(np.ones((3,4))*1, columns=['a','b','c','d'])
df3 = pd.DataFrame(np.ones((3,4))*2, columns=['a','b','c','d'])
df1,df2,df3

(     a    b    c    d
 0  0.0  0.0  0.0  0.0
 1  0.0  0.0  0.0  0.0
 2  0.0  0.0  0.0  0.0,
      a    b    c    d
 0  1.0  1.0  1.0  1.0
 1  1.0  1.0  1.0  1.0
 2  1.0  1.0  1.0  1.0,
      a    b    c    d
 0  2.0  2.0  2.0  2.0
 1  2.0  2.0  2.0  2.0
 2  2.0  2.0  2.0  2.0)

# 合并(concatenating)

In [33]:
result1=pd.concat([df1,df2,df3],axis=0)
result1

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0
0  2.0  2.0  2.0  2.0
1  2.0  2.0  2.0  2.0
2  2.0  2.0  2.0  2.0

+ 编号0,1,2,0,1,2,0,1,2 不是很好 加一条 ignore_index=True

In [34]:
result1=pd.concat([df1,df2,df3],axis=0,ignore_index=True)
result1

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
6  2.0  2.0  2.0  2.0
7  2.0  2.0  2.0  2.0
8  2.0  2.0  2.0  2.0

In [35]:
result2=pd.concat([df1,df2,df3],axis=1)
result2

     a    b    c    d    a    b    c    d    a    b    c    d
0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0  2.0  2.0  2.0  2.0
1  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0  2.0  2.0  2.0  2.0
2  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0  2.0  2.0  2.0  2.0

# 合并-concatenating（的   join[inner, outer]参数）

+ 修改原数据

In [36]:
df11 = pd.DataFrame(np.ones((3,4))*3, columns=['a','b','c','d'],index=[1,2,3])
df12 = pd.DataFrame(np.ones((3,4))*4, columns=['b','c','d','e'],index=[2,3,4])
df11,df12

(     a    b    c    d
 1  3.0  3.0  3.0  3.0
 2  3.0  3.0  3.0  3.0
 3  3.0  3.0  3.0  3.0,
      b    c    d    e
 2  4.0  4.0  4.0  4.0
 3  4.0  4.0  4.0  4.0
 4  4.0  4.0  4.0  4.0)

+ 我们先看看pd.concat()是怎么合并的
    + 其实就是pd.concat(  , join='outer')的处理方式

In [37]:
result11=pd.concat([df11,df12],ignore_index=True)
result11

     a    b    c    d    e
0  3.0  3.0  3.0  3.0  NaN
1  3.0  3.0  3.0  3.0  NaN
2  3.0  3.0  3.0  3.0  NaN
3  NaN  4.0  4.0  4.0  4.0
4  NaN  4.0  4.0  4.0  4.0
5  NaN  4.0  4.0  4.0  4.0

In [38]:
result12=pd.concat([df11,df12],join='outer',ignore_index=True)
result12

     a    b    c    d    e
0  3.0  3.0  3.0  3.0  NaN
1  3.0  3.0  3.0  3.0  NaN
2  3.0  3.0  3.0  3.0  NaN
3  NaN  4.0  4.0  4.0  4.0
4  NaN  4.0  4.0  4.0  4.0
5  NaN  4.0  4.0  4.0  4.0

+ pd.concat( , outer)的处理就是对不上的地方用NaN值填充

In [39]:
result13=pd.concat([df11,df12],join='inner',ignore_index=True)
result13

     b    c    d
0  3.0  3.0  3.0
1  3.0  3.0  3.0
2  3.0  3.0  3.0
3  4.0  4.0  4.0
4  4.0  4.0  4.0
5  4.0  4.0  4.0

+ pd.concat( , inner)的处理就是对不上的地方都整列裁减掉

+ ↓版本更迭 join_axes没了， 眼下用merge↓

In [49]:
result14=pd.concat([df11,df12],axis=1)
# result15=pd.concat([df11,df12],axis=1,join_axes=[df1.index])  版本更迭 join_axes没了
result15=pd.merge(df11, df12, how='left', left_index=True, right_index=True)  # 眼下用merge
result14,result15

(     a    b    c    d    b    c    d    e
 1  3.0  3.0  3.0  3.0  NaN  NaN  NaN  NaN
 2  3.0  3.0  3.0  3.0  4.0  4.0  4.0  4.0
 3  3.0  3.0  3.0  3.0  4.0  4.0  4.0  4.0
 4  NaN  NaN  NaN  NaN  4.0  4.0  4.0  4.0,
      a  b_x  c_x  d_x  b_y  c_y  d_y    e
 1  3.0  3.0  3.0  3.0  NaN  NaN  NaN  NaN
 2  3.0  3.0  3.0  3.0  4.0  4.0  4.0  4.0
 3  3.0  3.0  3.0  3.0  4.0  4.0  4.0  4.0)

+ ↑合并，只保留左列表的index，其余的丢掉↑

# append（）默认是往下加数据

In [64]:
df31 = pd.DataFrame(np.ones((3,4))*0, columns=['a','b','c','d'])
df32 = pd.DataFrame(np.ones((3,4))*1, columns=['a','b','c','d'])
df33 = pd.DataFrame(np.ones((3,4))*2, columns=['a','b','c','d'])

In [65]:
s1=pd.Series([1,2,3,4],index=['a','b','c','d'])
s1

a    1
b    2
c    3
d    4
dtype: int64

+ 这个Series是纵向的

In [66]:
result31=df31.append(df32,ignore_index=True)
result32=df31.append([df32,df33],ignore_index=True)
result31,result32

(     a    b    c    d
 0  0.0  0.0  0.0  0.0
 1  0.0  0.0  0.0  0.0
 2  0.0  0.0  0.0  0.0
 3  1.0  1.0  1.0  1.0
 4  1.0  1.0  1.0  1.0
 5  1.0  1.0  1.0  1.0,
      a    b    c    d
 0  0.0  0.0  0.0  0.0
 1  0.0  0.0  0.0  0.0
 2  0.0  0.0  0.0  0.0
 3  1.0  1.0  1.0  1.0
 4  1.0  1.0  1.0  1.0
 5  1.0  1.0  1.0  1.0
 6  2.0  2.0  2.0  2.0
 7  2.0  2.0  2.0  2.0
 8  2.0  2.0  2.0  2.0)

In [63]:
result33=df31.append(s1,ignore_index=True)
result33

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  2.0  3.0  4.0

+ 这里一定要加ignore_index=True，否则纵向的Series是添加不到横向的df上去的